{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>
<h1>My todo list</h1>
<a href="{% url 'task-create' %}">Create new task</a>

<form method="GET">
    <input type="text" name="search-area" placeholder="Search tasks..." value="{{ search_input }}">
    <button type="submit">Search</button>
</form>

<table>
    <tr>
        <th>Task</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No tasks in list</h3>
    {% endfor %}
</table>
