{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <p><a href="">Logout</a></p>
{% else %}
    <p><a href="">Login</a></p>
    <p><a href="">Sign up</a></p>
{% endif %}

<hr>
<h1>My todo list</h1>
<a href="{% url 'task-create' %}">Create new task</a>

<table>
    <tr>
        <th>Task</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No tasks in list</h3>
    {% endfor %}
</table>
